
* {
	font-family: Open Sans;
}

/*.working {
	background: green;
	width: 100%;
	display: block;
	float: left;
}

.green {
	background-color: yellow;
	height: 200px;
	margin-top: 40px;
	margin-bottom: 40px;

}

.quarters {
	width: 21%;
	float: left;
	margin: 2%;
}*/

/* Needed to set display to block to get that icon to finally center. duh. */



body {
	margin:0;
	padding:0;
}

/* Typography */

h1, h2, h3 {
	font-size: 1.5em;
	font-family: Helvetica, serif;
	font-weight: bold;
	text-align: left;
}

h1 {
	font-size: 4em;
	text-align: center;
	margin-bottom: 3%;

/*figure out how use fonts*/

}


.nav_bar ul{
	list-style: none;
	background-color: teal;
	/*opacity: 0.85;*/
	text-align: right;
	padding:0;
	margin: 0;
	height: 40px;
	font-size: 17px;
	color: #ffffff;
}



.nav_bar li{
	display: inline;
	padding: 5px 10px;
}

.nav_bar a{
	color: #ffffff;
	text-decoration: none;

}


/* .....
.......
........
Header secton! 
........
.....
....
*/



.header {
	text-align:center;
	padding-top: 12.5%;
	padding-bottom: 25%;
	/*background-color: green;*/
/*	background-image: url('img/fearfest.jpg');
	background-size: cover;
	background-position: center;*/


	background-image: url(http://img.fciencias.com/uploads/2014/01/04-Book-Wallpaper-%C3%A9-ao-Domingo.jpg);
	background-size: 100%;
	background-repeat: no-repeat; 
	/*margin: auto;*/
	/*background-position:0 -200px;*/
	
}

/*How do you scale the padding/ header section to be scale
to the dimensions of the text?*/

/*Why does "div class = header" - */



#for_business_option p{
	font-size: 13px;
	margin-top: 5%;
}

.header a{
	text-decoration:none;

}

/* I want the button to change color when I hover over it*/

/* 
This is pseudo-class action called :hover 
https://developer.mozilla.org/en-US/docs/Web/CSS/:hover
*/

.button.button-primary{
	background-color: #ed2124;
	border:none;

}
/*
a{
	color: #ffffff;
}
*/

#main_sign_up_button{
	width: 150px;
	height: 50px;
	background-color: #ed2124;
	border-radius: 7px;
	margin: auto;
}

#main_sign_up_button p{
	text-align: center;
	color: #ffffff;
}


/* I want to solve the problem of the text running into the background image
by adding semi-transparent block behind the text- i don't think using z index
is the way to go- maybe put the background as an image? using <divs> 
then z-index- how do I scale it to follow the text though?/*




/* .....
............
..........
icon bar section!
.............
.........
.....
*/




.icon_bar{
	background-color: #ed2124;
	margin-top: 0px;
}



.icon{
	position: absolute;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;

}


.three.columns {
	text-align: center;
	/*height: 200px;
	width: 200px;*/
	border: 1px solid black;
	padding-top: 85px;
	
	background-color: #ffffff;
	/*float:left;*/
	/*display: inline-block;*/
	margin: 0px;


}

/*
.icon.container{
	display: inline-block
}*/

.icon_bar_background{
	height: 250px;
	width: 100px;
	background-color: #ed2124;
	position: relative;
	z-index: 1;

}


.icon-picture {
	width: 50%;
	margin-top: -150px;
	margin-left: auto;
    margin-right: auto;
	display: block;
	background-color: #ffffff;
	border-radius: 10px;
}



/*.icon{
	float:left;

}


/* ......
............
...........
.......
Features section!
...........
.............
.........
*/


.Features h3{
	text-align:center;
	padding: 50px;
	padding-bottom: 25px;
	/*position: absolute;*/
}

#comparison{
	text-align: center;
}


.Features .container{
	padding-bottom: 25px;
}




/*.......
..............
.........
bottom nav bar!
...........
........
...*/




.bottom_nav_bar_1 ul{
	padding:0px;
	margin: 0px;
	background-color: #ed2124;
	font-size: 14px;
	color: #ffffff;
}

/* This lines up "About" all the way to the left */

.bottom_nav_bar_1 ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

.bottom_nav_bar_2 ul{
	padding: 0px;
	margin: 0px;
	background-color: #ed2124;
	font-size: 14px;
	color: #ffffff;
}

.bottom_nav_bar_2 ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0px 20px 10px 20px;
}


@media only screen and (max-width:)



@media only screen and (max-width: 500px) {

	.header {
		background-position:0 200px;
	}

}
















