
* {
	font-family: Open Sans;
}

/* 
If I have this set already for the whole body, then why 
do I have to keep going into specific sections and resetting
this property? 
*/

/*
This is where a reset comes into play. we'll discuss resets during our call http://meyerweb.com/eric/tools/css/reset/
*/

body {
	margin:0;
	padding:0;
}

/* Typography */

h1, h2, h3 {
	font-size: 1.5em;
	font-family: Helvetica, serif;
	font-weight: bold;
	text-align: left;
}

h1 {
	font-size: 4em;
	text-align: center;
}



/* opacity color looks different in photoshop for some reason */

/*
This is because the two function slightly different from one another 
*/

.nav_bar ul{
	list-style: none;
	background-color: #ed2124;
	/*opacity: 0.85;*/
	text-align: right;
	padding:0;
	margin: 0;
	height: 40px;
	font-size: 17px;
	color: #ffffff;
}


/*
.nav_bar ul{
	list-style: none;
	background-color: #ed2124;
	text-align: right;
	padding:0;
	margin: 0;
	height: 40px;
	font-size: 17px;
	color: #ffffff;
}
*/






/* How do I get the text in the nav_bar to be vertically 
centered? */

/* Let's discuss why this might work, why it might not work and how we can make it work. It actually relies on your html structure. http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */

.nav_bar li{
	display: inline;
	padding: 5px 10px;
}

.nav_bar a{
	color: #ffffff;
	text-decoration: none;

}


/* .....
.......
........
Header section! 
........
.....
....
*/



.header {
	text-align:center;
	padding: 500px;
	padding-bottom: 40px;
	/*background-color: green;*/
/*	background-image: url('img/fearfest.jpg');
	background-size: cover;
	background-position: center;*/



	/* say if we added the background image below, how would be able to 
	constrain the image to maintain the proportions when you change the screen
	size?*/


	background-image: url(http://img.fciencias.com/uploads/2014/01/04-Book-Wallpaper-%C3%A9-ao-Domingo.jpg);
	background-size: cover; 
	background-position: center;
}

.fullwidth {
	min-width: 100%;
}

#header_text{
	font-size:16px;
	margin: auto;
}

/*
img{
	width: 480px;
	height: auto;
	border:5px solid black;
	margin: auto; 
	margin-bottom: 30px; ;

}
*/

#for_business_option p{
	font-size: 13px;
	margin-top: 50px;
}

.header a{
	text-decoration:none;

}

/* I want the button to change color when I hover over it*/

/* 
This is pseudo-class action called :hover 
https://developer.mozilla.org/en-US/docs/Web/CSS/:hover
*/

.button.button-primary{
	background-color: #ed2124;
	border:none;

}

a{
	color: #ed2124;
}


#main_sign_up_button{
	width: 150px;
	height: 50px;
	background-color: #ed2124;
	border-radius: 7px;
	margin: auto;
}

#main_sign_up_button p{
	text-align: center;
	color: #ffffff;
}



/*how do i vertically align the text??*/



/* .....
............
..........
icon bar section!
.............
.........
.....
*/




.icon_bar{
	background-color: #ed2124;
	margin-top: 0px;
}

/*
How do I push the div color (red bar spanning the icon bar) 
down?
*/

/* Not sure I understand the phrasing. Let's discuss */

.three.columns{
	text-align: center;
	/*height: 200px;
	width: 200px;*/
	border: 1px solid black;
	padding-top: 85px;
	list-style-type:none;
	background-color: #ffffff;
	/*float:left;*/
	/*display: inline-block;*/
	margin: 0;

}

.icon.container{
	display: inline-block
}



/*.icon{
	float:left;

}


/* ......
............
...........
.......
Features section!
...........
.............
.........
*/


.Features h3{
	text-align:center;
	padding: 50px;
	padding-bottom: 25px;
}

#comparison{
	text-align: center;
}


.Features .container{
	padding-bottom: 25px;
}


/*
.Features ul{
	list-style-type: none;
}



 #feature_left{
	margin-right: 55%;
	margin-left:2%;
}

#feature_left li{
	float:left;
}

#feature_right{
	margin-left: 55%;
	margin-right:2%;
}

/*is there some default margin on the right side that does 
not exist on the left?*/

/* possibly. let's use inspect element to see */ 



/*is this step necessary?*/
/*#feature_right li{
	float:right;
}

#row_1 ul{
	display:inline-block;
}

#row_2 ul{
	display: inline-block;
}

#row_3 ul{
	margin-left: 29%;
	margin-right:29%;
	padding-top:20px;
}

.Features p{
	text-align:center;
	font-size: 14px;
}



/*.......
..............
.........
bottom nav bar!
...........
........
...*/


.bottom_nav_bar_1 ul{
	padding:0px;
	margin: 0px;
	background-color: #ed2124;
	font-size: 14px;
	color: #ffffff;
}

/* This lines up "About" all the way to the left */

.bottom_nav_bar_1 ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

.bottom_nav_bar_2 ul{
	padding: 0px;
	margin: 0px;
	background-color: #ed2124;
	font-size: 14px;
	color: #ffffff;
}

.bottom_nav_bar_2 ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0px 20px 10px 20px;
}














