
* {
	font-family: Open Sans;
}

/*.working {
	background: green;
	width: 100%;
	display: block;
	float: left;
}

.green {
	background-color: yellow;
	margin-top: 40px;
	margin-bottom: 40px;

}

.quarters {
	width: 21%;
	float: left;
	margin: 2%;
}*/


body {
	margin:0;
	padding:0;
}

/* Typography */

h1, h2, h3 {
	font-size: 1.5em;
	font-family: Helvetica, serif;
	font-weight: bold;
	text-align: left;
}

h1 {
	font-size: 4em;
	text-align: center;
	margin-bottom: 3%;

/*figure out how use fonts*/

}


.nav_bar ul{
	list-style: none;
	background-color: teal;
	/*opacity: 0.85;*/
	text-align: right;
	padding:0;
	margin: 0;
	height: 40px;
	font-size: 17px;
	color: #ffffff;
}



.nav_bar li{
	display: inline;
	padding: 5px 10px;
}

.nav_bar a{
	color: #ffffff;
	text-decoration: none;

}


/* .....
.......
........
Header secton! 
........
.....
....
*/

/*.overlay {
	background-color: rgba(255,255,255,.8);
}*/

.header_text {
	padding: 50px 0;
}

.header {
	text-align:center;
	background-image: url(http://img.fciencias.com/uploads/2014/01/04-Book-Wallpaper-%C3%A9-ao-Domingo.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0, -50px;




	height: 550px;


}

/*.offset-by-three.columns{ 
	margin-left: 28%;            
}*/



#for_business_option p{
	font-size: 13px;
	margin-top: 5%;
}

.header a{
	text-decoration:none;

}

/* I want the button to change color when I hover over it*/

/* 
This is pseudo-class action called :hover 
https://developer.mozilla.org/en-US/docs/Web/CSS/:hover
*/

.button.button-primary{
	background-color: #FFAD33;
	border:none;

}
/*
a{
	color: #ffffff;
}
*/

#main_sign_up_button{
	width: 150px;
	height: 50px;
	background-color: #ed2124;
	border-radius: 7px;
	margin: auto;
}

#main_sign_up_button p{
	text-align: center;
	color: #ffffff;
}



/* .....
............
..........
icon bar section!
.............
.........
.....
*/




.icon{
	position: absolute;
	z-index: 2;
	margin-left: 12%;
	/*margin-right: auto;*/

}


.three.columns {
	text-align: center;
	/*height: 200px;
	width: 200px;*/
	border: 1px solid black;
	padding-top: 85px;
	
	background-color: #ffffff;
	/*float:left;*/
	/*display: inline-block;*/
	margin: 0px;

}


.icon_bar_background{
	height: 250px;
	width: 100%;
	background-color: #ed2124;
	position: relative;
	z-index: 1;

}


.icon-picture {
	width: 50%;
	margin-top: -130px;
	margin-left: auto;
    margin-right: auto;
	display: block;
	background-color: #ffffff;
	border-radius: 10px;

}




/* ......
............
...........
.......
Features section!
...........
.............
.........
*/


.Features h3{
	text-align:center;
	padding: 50px;
	padding-bottom: 25px;
	/*position: absolute;*/
}

#comparison{
	text-align: center;
}


.Features .container{
	padding-bottom: 25px;
}




/*.......
..............
.........
bottom nav bar!
...........
........
...*/




.bottom_nav_bar_1 ul{
	padding:0px;
	margin: 0px;
	background-color: #ed2124;
	font-size: 14px;
	color: #ffffff;
}

/* This lines up "About" all the way to the left */

.bottom_nav_bar_1 ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

.bottom_nav_bar_2 ul{
	padding: 0px;
	margin: 0px;
	background-color: #ed2124;
	font-size: 14px;
	color: #ffffff;
}

.bottom_nav_bar_2 ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0px 20px 10px 20px;
}






/*tablet*/
@media only screen and (max-width: 800px) {
	.header {
		text-align:center;
		background-image: url(http://img.fciencias.com/uploads/2014/01/04-Book-Wallpaper-%C3%A9-ao-Domingo.jpg);
		background-size: 140%;
		background-repeat: no-repeat;
		background-position: -125px 30px;
		height: 550px; 
	}


}


/*mobile*/
@media only screen and (max-width: 550px) {

	.header_text {
		padding: 50px 0;
	}

	.header {
		text-align:center;
		background-image: url(http://img.fciencias.com/uploads/2014/01/04-Book-Wallpaper-%C3%A9-ao-Domingo.jpg);
		background-size: 120%;
		background-repeat: no-repeat;
		background-position: -45px 250px;
		height: 550px; 
	}

	#for_business_option {
		width: 50%;
		margin: 0 auto;
	}

	.icon{
	position: relative;
	z-index: 2;
	margin: auto;

}

	.icon-picture{
		width: 15%;
		margin-top: -70px;
	}

	.three.columns{
		margin: 30px 15px 0px 15px;

	}

	.icon_bar_background{
		width: 100%;
		height: 900px;
	}
}





@media only screen and (min-width: 800px) {
	}



@media only screen and (min-width: 1000px) {
	.header{
		height: 680px;
		background-position: 0 40px;
	}

	.header_text{
		padding-top: 10%;
	}

	.offset-by-three.columns{ 
	margin-left: 28%;            
}

}


@media only screen and (min-width: 1100px) {
	

	.header{
		background-position: 0 20px;
	}


	.header_text{
		margin-top: ;
	}

}

@media only screen and (min-width: 1200px) {
	.header{
		height: 770px;
		background-position: 0 10px;
	}

	.header_text{
		padding-top: 11%;
	}


	h6{
		margin-bottom: 10px;
	}


	#main_sign_up_button{
		margin-bottom: 35px;
		margin-top: 30px;
	}

	.h1{
		margin-bottom: 2%;
	}

}

@media only screen and (min-width: 1300px) {


	.header{
		height: 800px;
		background-position: 0 5px;
	}


	h6{
		margin-bottom: 15px;
	}


	#main_sign_up_button{
		margin-bottom: 35px;
		margin-top: 30px;
	}



	h1{
		margin-bottom: 2%;
	}

	
	.six.columns{ 
		width: 53%;            
	}

	.header_text{
		text-align: center;
		padding-top: 11.7%;
	}


	.offset-by-three.columns{ 
	margin-left: 24%;            
}

}


